{{/* Do not directly modify this file! */}}
{{/* Instead, create a `layout/partials/custom_head.html` file in your site and add your code to it. */}}
{{ template "_internal/google_analytics.html" . }}

{{/* This partial is included in `themes/academic/layout/partials/site_head.html`. */}}
<style>
.article-style figure {
  /* You can change 600px to 500px if you prefer */
  max-width: 500px; 
  margin-left: auto;
  margin-right: auto;
}

/* This rule centers the h4 caption text *inside* the figure block */
.article-style figure figcaption h4 {
  text-align: center;
}
</style>